.form_dodaj{
    box-sizing: border-box;
}

.container{
  margin:10px 30px 10px 30px;


}
#naslov_pregled h2{
    margin-top:50px;
    color:  rgb(201, 50, 133);;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.admin{
    display:flex;
    margin-left:500px;
  margin-top: 50px;
  margin-bottom:10px;
}
.admin td{
    display: inline-block;
    padding-left: 10px;
    color: #8b8b8b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 2px solid purple;
    padding-right:10px;
}
.admin th{
    display: inline-block;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 2px solid purple;
    padding-right:10px;
}

#brez {
    display: inline-block;
    padding-left: 10px;
    color: #8b8b8b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    
    padding-right:10px;
}






.close {
    background: red;
    width: 60px;
    height: 60px;
    position: relative;
    margin-left:5px;
    margin-right:5px;
}
.close:after {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.close:before {
    content: '';
    height: 60px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}

.tick {
    background: green;
    width: 60px;
    height: 60px;
    position: relative;
}
.tick:after {
    content: '';
    height: 50px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(40deg);
    left: 38px;
    top: 5px;
}

.tick:before {
    content: '';
    height: 20px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 15px;
    top:33px;
}
.tick:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }
  .close:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }