html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
        display: flex;
        flex-direction: column;
    
  }
  
  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 50, 133);
    padding: 36px;
  }
  .logo {
    position: relative;
    bottom: 20px;
    right: 30px;
    
  }
  .logo img {
    position: absolute;
    float: left;
    width: 300px;
    margin-top: -40px;
    margin-left: -5px;
    
  }
  
  .title {
    text-align: left;
    color: white;
    font-size: 24px;
  }
  
  .title h1 {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
  }

  footer {
   
    justify-content: center;
    align-items: center;
    /* Add a height to the footer to make sure the images are aligned at the bottom */
    position:absolute;
    bottom:0;
    width:100%;
  }
  
  .footer-images {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    left:50%;
    justify-content: center;
    align-items: center;
  }
  
  .footer-images img {
    margin: 0 10px; /* Add some horizontal spacing between the images */
    width: 140px;
    height: 140px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
  }
  .footer-images img:hover {
    transform: scale(1.3) translateY(-11%);
  }
 