.login{
    width: 382px;
    overflow: hidden;
    margin: 20 0 0 450px;
    margin: auto;
    padding: 80px;
    border-radius: 15px ;
    margin-bottom: 350px;

}
h2{
    text-align: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#name{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    margin-bottom: 10px;
}
#pass{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    margin-bottom: 10px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
label{
    color: #8b8b8b;
    font-size: 17px;
}
.items { 
    margin: 0 auto; 
    width:300px;
    }


    