.form_dodaj{
    box-sizing: border-box;
}

.container{
    margin:10px 30px 10px 30px;
  }
#naslov_pregled h2{
    margin-top:50px;
    color:  rgb(201, 50, 133);;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.pregled{
    display:flex;
    margin-left:300px;
  margin-top: 50px;
  margin-bottom:10px;
}
.pregled td{
    display: inline-block;
    padding-left: 10px;
    color: #8b8b8b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 2px solid purple;
    padding-right:10px;
}
.pregled th{
    display: inline-block;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 2px solid purple;
    padding-right:10px;
}

#brez {
    display: inline-block;
    padding-left: 10px;
    color: #8b8b8b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    
    padding-right:10px;
}

